#include "Resources.h"

MYICON ICON Icon.ico
AUDIO WAVE AshiPakhareYeti.wav

WINDOW_BITMAP BITMAP Window.bmp
WALL_BITMAP BITMAP Wall.bmp
FRONT_WALL_BITMAP BITMAP FrontWall.bmp
TREE_BARK1_BITMAP BITMAP TreeBark1.bmp
TREE_BARK2_BITMAP BITMAP TreeBark2.bmp
TREE1_BITMAP BITMAP Tree1.bmp
TREE2_BITMAP BITMAP Tree2.bmp
TOP_FABRIC1_BITMAP BITMAP TopFabric1.bmp
TOP_FABRIC2_BITMAP BITMAP TopFabric2.bmp
SKIRT_FABRIC1_BITMAP BITMAP SkirtFabric1.bmp
SKIRT_FABRIC2_BITMAP BITMAP SkirtFabric2.bmp
ROOF_TOP_BITMAP BITMAP RoofTop.bmp
ROOF_BITMAP BITMAP RoofSides.bmp
RAILING_BITMAP BITMAP RailingBlockHorizontal.bmp
MOUNTAINS_BITMAP BITMAP Mountains.bmp
GRASS_BITMAP BITMAP Grass.bmp
DOOR_BITMAP BITMAP Door.bmp
CONCRETE_BITMAP BITMAP Concrete.bmp
