<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-08-06T11:33:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/shrutikulkarni/Astromedicomp/MyCodes/06-iOS/01-ProgrammablePipeline/03-PerspectiveWhiteTriangle/Bluescreen.xcodeproj</string>
</dict>
</plist>
